/* MAIN CONTENT AREA */
.content {
    background: rgba(255, 255, 255, 0.55);
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

/* CARD TITLE + ADD BUTTON */
.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-header h3 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.add-btn {
    padding: 10px 18px;
    border: none;
    background: #4f46e5;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.add-btn:hover {
    background: #4338ca;
}

/* CONTACT TABLE */
.table-box {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #4f46e5;
    color: #fff;
}

th,
td {
    padding: 14px;
    text-align: left;
    font-size: 15px;
}

tbody tr {
    background: rgba(255, 255, 255, 0.45);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.3s;
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.75);
}

/* ACTION BUTTONS */
.edit,
.delete {
    border: none;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.edit {
    background: #22c55e;
}

.delete {
    background: #ef4444;
}

.edit:hover {
    background: #15803d;
}

.delete:hover {
    background: #b91c1c;
}

.btn-plus {
    background: #4CAF50;
    color: #fff;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 5px;
}

.filter-box {
    display: flex;
    gap: 2px;
    margin-bottom: 20px;
}

.filter-box input,
.filter-box select {
    /* padding: 6px 10; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-box button,
.filter-box a {
    padding: 6px 12px;
}